@media (max-width: 1280px) {
  .profile-text-container {
    display: flex;
    flex-direction: column;
  }

  .project-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}