@media (max-width: 768px) {
  .profile-text-container {
    display: flex;
    flex-direction: column;
  }

  .project-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .text {
    padding-bottom: 2vh;
  }

  .button-text {
    font-size: 13px;
  }

  .description {
    font-size: 23px;
  }

  .header-1 {
    font-size: 53px;
    padding-bottom: 2%;
  }

  .header-2 {
    font-size: 38px;
    padding-bottom: 2%;
  }

  .header-3 {
    font-size: 28px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
  }

  .header-4 {
    font-size: 23px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}