.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-width: 105vh; /* Ensure all cards maintain width */
  min-height: 65vh; /* Ensure all cards maintain height */
  background-color: #FDFDF3;
  border: 3px solid #000000;
  border-radius: 20px;
}

.card-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100%;
}

.card-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 0.50fr;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
  padding-bottom: 0%;
  height: 40vh;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ensures consistency in layout */
}

.img-box {
  flex-shrink: 0; /* Prevents shrinking */
  width: 20vh;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  height: 30%;
  object-fit: contain;
  transform: rotate(-90deg);
}

.info-text {
  max-width: 500px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.info-duration {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.info-footer {
  color: #FDFDF3;
  background-color: #6B705C;
  padding: 3%;
  border-radius: 0 0 17.6px 17.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    min-width: 55vh;
    max-width: 55vh;
    min-height: auto; /* Allow flexibility on smaller screens */
  }

  .card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.15fr;
    gap: 1%;
    height: 60vh;
  }

  .details {
    transform: rotate(90deg);
  }

  .img-box {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .card {
    min-width: 45vh;
  }
}