.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 65vh; /* Ensure all cards maintain height */
  background-color: #FDFDF3;
  border: 3px solid #000000;
  border-radius: 20px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
  padding-bottom: 0%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ensures consistency in layout */
}

.img-box {
  flex-shrink: 0; /* Prevents shrinking */
  width: 20vh;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  height: 30%;
  object-fit: contain;
  transform: rotate(-90deg);
}

.info-text {
  max-width: 500px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.info-duration {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.info-footer {
  color: #FDFDF3;
  background-color: #6B705C;
  padding: 3%;
  border-radius: 0 0 17.6px 17.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #FDFDF3;
  font-size: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    min-height: auto; /* Allow flexibility on smaller screens */
  }

  .card-content {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 15px;
  }

  .details {
    transform: rotate(90deg);
  }

  .img-box {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 95%;
  }
  
  .info-footer {
    padding: 3%;
  }
}