.arrows {
  padding: 1% 0 1% 0;
}

.back-btn, 
.next-btn {
  background-color: #EDD9D3;
  border: none;
  border-radius: 50%;
  width: 3vw; /* Scales with viewport width */
  height: 3vw;
  min-width: 50px; /* Minimum size */
  min-height: 50px;
  max-width: 80px; /* Maximum size */
  max-height: 80px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

// .back-btn { left: 2% }
// .next-btn { right: 2% }

.back-btn:hover,
.next-btn:hover {
  background: #dcc1ba;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container:hover .next-btn, 
.card-container:hover .back-btn {
  opacity: 1; /* Show on hover */
  transform: translateX(-10px); /* Slight movement for effect */
}