.card-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-areas: "left card right";
  align-items: center;
}

.nav-left {
  grid-area: left;
}

.card-group {
  grid-area: card;
}

.nav-right {
  grid-area: right;
}

@media (max-width: 768px) {
  .card-container{
    grid-template-columns: 1fr;
    grid-template-areas:
      "card"
      "nav";
    gap: 1rem;
  }

  .nav-left,
  .nav-right {
    grid-area: nav;
  }
}