.exp-list {
  border-radius: 10px;
  padding: 0 1% 0 1%;
  margin-bottom: 1%;

  &:nth-child(odd) {
    background-color: #FFD3C6;
  }

  &:nth-child(even) {
    background-color: #FFE8D6;
  }
}

.exp-list:hover {
  cursor: pointer;
}

.exp-list-card {
  display: grid;
  grid-template-columns: 1fr 1fr 0.15fr; 
  align-items: center;
  gap: 1%;
  height: 10vh;
}

.showDetails {
  height: 100%;
}

.overview {
  padding-bottom: 1%;
}
