.item {
  background-color: #FDFDF3;
  border: 2px solid #6F7570;
  box-shadow: 5px 5px;
  text-align: center;
  padding: 0.15rem;
}

.item:hover {
  background-color: #DDBEA9;
  cursor: pointer;
}

.socials-item {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5;
  padding: 0.15rem;
}

.header-group {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.item-group {
  display: flex;
  gap: 3vh;
  justify-content: center;
  flex-wrap: wrap;
}

.socials-group {
  display: flex;
  justify-self: end;
  gap: 3vh;
  padding: 1rem 5vh;
}

@media (max-width: 768px) {
  .header-group {
    display: flex;
    flex-direction: column;
  }

  .item {
    height: 0.5rem;
  }

  .socials-item {
    width: 1.5rem;
    height: 1.5rem;
  }
}