@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');

html, body {
  font-family: 'M PLUS Code Latin', monospace;
  text-align: center;
  color: #6B705C;
  background-color: #FDFDF3;
  margin: auto;
  height: 100%;
  width: 100%;
}

input {
  width: 70%;
  border-radius: 2em;
  font-family: 'M PLUS Code Latin';
  font-weight: 550;
}

iframe {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app {
   height: 100%;
}

.arrow {
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-home {
  position: fixed;
  bottom: 2%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1% 0 0 5%;
  cursor: pointer;
}

.back-home:hover {
  color: #CB997E;
}

.btn {
  color: #FDFDF3;
  font-family: 'M PLUS Code Latin';
  background-color: #C9CCB7;
  border: 2px solid #FDFDF3;
  outline: 2px solid #FDFDF3;
  outline-offset: -6px; /* Controls gap */
  padding: 15px 25px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #CB997E;
}

.center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close-button {
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}

.contact-btn {
  margin-top: 5%;
  width: 100%;
}

.container {
  padding: 2% 5% 2% 5%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-group {
  display: grid;
  grid-template-columns: 20% auto; 
  text-align: left;
}

.header {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  background-color: #C9D1A3;
}

.loading-spinner {
  height: 100px;
}

.modal {
  border: 2px solid #6B705C;
  background: #FDFDF3;
  border-radius: 5px;
  z-index: 1000;
}

.pdf-container {
  min-height: 40vh;
  height: 75vh;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-socials {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  width: 8%;
  height: 7%;
  z-index: 99;
}

.profile-icons {
  width: 100%;
  height: 100%;
  stroke-width: 1;
}

.profile-icons:hover {
  cursor: pointer;
}

.profile-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.related-projects {
  position: absolute; 
  bottom: 2%;
  left: 2%;
}

.retro-form label {
  width: 100%;
}

.retro-form input,
.retro-form textarea {
  border: 2px solid #dad8c8;
  padding: 10px;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.socials {
  position: absolute;
  right: 0;
  top: 0;
  border-width: 1;
}

.tippy-box {
  background-color: #6B705C;
  color: #FDFDF3;
  border-radius: 5px;
  min-width: 5em;
  padding: 1%;
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.web_menu {
  display: flex;
  flex-direction: row;
}