@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');

html, body {
  font-family: 'M PLUS Code Latin', monospace;
  text-align: center;
  color: #6B705C;
  background-color: #FDFDF3;
  margin: auto;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

input {
  width: 70%;
  border-radius: 2em;
  font-family: 'M PLUS Code Latin';
  font-weight: 550;
}

iframe {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app {
   height: 100%;
}

.center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  padding: 2% 5%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #C9D1A3;
}

.loading-spinner {
  height: 100px;
}

.main-container {
  padding: 2% 15%
}

.pdf-container {
  min-height: 40vh;
  height: 75vh;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.related-projects {
  position: absolute; 
  bottom: 2%;
  left: 2%;
}

.sidebar {
  position: fixed;
  right: 5%;
  top: 15%;
  width: 8vh;
  height: 69vh;
  background-color: #C9D1A3;
  border-radius: 1.5rem;
  z-index: 1000;
}

.sidebar.expanded {
  width: 45vh;
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}