@media (max-width: 768px) {
  .project-links {
    flex-direction: column;
    width: 100%;
  }

  .mini-menu {
    width: 40%;
  }

  .menu-container.open .menu-btn {
    right: 40%;
  }
}

@media (max-width: 480px) {
}