p {
  margin: 0;
}

.button-text {
  font-size: 20px;
}

.description {
  font-size: 30px;
}

.header-1 {
  font-size: 60px;
  padding-bottom: 2%;
}

.header-2 {
  font-size: 45px;
  padding-bottom: 2%;
}

.header-3 {
  font-size: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.name {
  font-family: "Qwitcher Grypen";
  font-size: 500%;
}

.text {
  font-size: 20px;
  margin-bottom: 0.5%;
}

.text-paragraph {
  text-align: left;
}