a {
  color: #6B705C;
  text-decoration: none;
}

a:hover {
  color: #CB997E;
  cursor: pointer;
}

p {
  margin: 0;
}

label {
  width: 30%;
}

.button-text {
  font-size: 20px;
}

.description {
  font-size: 30px;
}

.header-1 {
  font-size: 60px;
  padding-bottom: 2%;
}

.header-2 {
  font-size: 45px;
  padding-bottom: 2%;
}

.header-3 {
  font-size: 35px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  color: #ABBAF4;
}

.header-4 {
  font-size: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.name {
  font-weight: bold;
  color: #CB997E;
}

.text {
  font-size: 20px;
  margin-bottom: 1%;
}

.text-paragraph {
  text-align: left;
}