.loading-msg {
  color: #FFFFE9;
  margin-top: 1%;
}

.opening-msg {
  color: #FFFFE9;
  font-size: 28px;
}

.retro-button {
  font-family: 'M PLUS Code Latin';
  padding: 15px 20px;
  border: 2px solid #6F7570;
  background-color: #FDFDF3;
  outline: 2px solid #6F7570;
  outline-offset: -8px; /* Controls gap */
}

.retro-button:hover {
  color: #FDFDF3;
  cursor: pointer;
  border: 2px solid #FDFDF3;
  background-color: #DDBEA9;
  outline: 2px solid #FDFDF3;
}

.retro-loading-bar {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.start-btn {
  margin-top: 4%;
}

.window {
  height: 70%;
  width: 80%;
  background-color: #68705C;
}

.window-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.window-controls {
  height: 100%;
}

.window-controls span {
  padding-left: 5px;
  cursor: pointer;
  font-size: 100%;
  color: #5A5A5A;
}

.window-header {
  display: flex;
  justify-content: flex-end;
  background-color: #B7B7A4;
  padding-right: 0.5em;
}