.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
  min-height: 40vh;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 20vh;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 30%;
    object-fit: contain;
    transform: rotate(-90deg);
  }
}

.info-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-duration {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.info-footer {
  width: 100%;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  color: #FDFDF3;
  background-color: #6B705C;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

@media (max-width: 1280px) {
  .details-content {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
  }

  .details {
    flex-direction: column;
  }

  .info-text {
    height: 30vh;
  }

  .info-duration {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

  .img-box {
    width: 100%;
    height: 20vh;

    img {
      height: 70%;
      transform: rotate(0deg);
    }
  }
}