.content-container {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-template-areas: "left card right";
  align-items: center;
}

.nav-left {
  grid-area: left;
  left: 0;
}

.card-group {
  grid-area: card;
  background-color: #FFFFFF; 
  border: 0.25rem solid #6F7570;
  border-radius: 20px;
}

.nav-right {
  grid-area: right;
  right: 0;
}

@media (max-width: 1280px) {
  .content-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.1fr;
    grid-template-areas: 
      "card card" 
      "left right";
    justify-content: center;
  }

  .nav-left, .nav-right {
    padding-top: 5%;
  }
}